@import 'src/style/variables.scss';
@import 'src/style/mixins.scss';

.cardCollection {
  grid-area: characters;
  display: flex;
  flex-direction: row;
  padding: $global-content-padding;
  transition: 1s;
  flex-wrap: wrap;
  justify-content: space-evenly;

  @include sm {
    flex-direction: row;
  }

  @include md {
    flex-direction: row;
  }
}
