@import '../../style/color.scss';

.stateGroup {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.playerStateWrapper {
  margin: 0.5em 0 1em 0;
  padding: 1em 1em 0.5em 1em;
  border-radius: 5px;
  background: $grey-f0;
}

.baseInfoBlock {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.criticalInfoBlock {
  display: flex;
  justify-content: space-between;
}
