@import 'src/style/mixins.scss';
@import 'src/style/variables.scss';

.gameView {
  height: 100%;
  display: grid;
  margin: 0 auto;

  @include md {
    grid-template-rows: 40px 40px 1fr;
    grid-template-areas:
      "status"
      "view-switcher"
      "characters";
    row-gap: 0.5em;
  }

  @include lg { 
    grid-template-areas:
      'status sidebar'
      'view-switcher sidebar'
      'characters sidebar';
    grid-template-columns: 1fr 300px;
    grid-template-rows: 50px 10px 1fr;
    row-gap: 1em;
  }
}
