@import '../../style/color.scss';

.characterCard {
  animation: fade 1s ease-in;
  background: $white;
  border-radius: 5px;
  height: max-content;
  margin-bottom: 1em;
  padding: 10px 10px 10px 10px;
  position: relative;
  width: 20em;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
}

.characterCard:hover {
  box-shadow: 3px 3px 5px lightgrey;
}

.characterCard:nth-child(2n) {
  margin-right: 10px;
  margin-left: 10px;
}

.infoPillBlock {
  text-align: center;
}

.playerName {
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  color: $black;
}

.playerClass {
  margin-top: 5px;
  text-align: center;
  font-style: italic;
  text-transform: capitalize;
}

.expandArrow {
  cursor: pointer;
  text-align: center;
  padding: 1px;
}

.expandArrow:hover {
  transition: 0.5s linear;
  background: $grey-f0;
}
