.characterCard {
  border-radius: 5px;
  margin-bottom: 1em;
  padding: 10px 5px 10px 5px;
  width: 20em;
  box-shadow: 3px 3px 5px lightgrey;
}

.characterCard:nth-child(2n) {
  margin-right: 10px;
  margin-left: 10px;
}

.infoPillBlock {
  text-align: center;
}

.playerName {
  /* word-spacing is added as a hack to force a line break 
     on the first name and last name to ensure that the display is consistent */
  word-spacing: 100em;
  text-align: center;
  margin: 0;
}

.playerClass {
  margin-top: 5px;
  text-align: center;
  font-style: italic;
}
