.characterCard {
  height: max-content;
  border-radius: 5px;
  margin-bottom: 1em;
  padding: 10px 10px 10px 10px;
  width: 20em;
  box-shadow: 3px 3px 5px lightgrey;
  position: relative;
  animation: fade 1s ease-in;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
}

.characterCard:nth-child(2n) {
  margin-right: 10px;
  margin-left: 10px;
}

.infoPillBlock {
  text-align: center;
}

.playerName {
  /* word-spacing is added as a hack to force a line break
     on the first name and last name to ensure that the display is consistent */
  word-spacing: 100em;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}

.playerClass {
  margin-top: 5px;
  text-align: center;
  font-style: italic;
  text-transform: capitalize;
}

