@import 'src/style/mixins';
@import 'src/style/variables';
@import '../../style/color.scss';

.navBar {
  grid-area: nav;
  text-align: center;
  background: $white;
  z-index: 999;
  transition: 1s;

  @include sm {
    display: block;
  }

  @include md {
    display: block;
    border-bottom: 1px solid $grey-ee;
  }

  @include lg {
    width: $navbar-width;
    height: 100%;
    grid-column-end: 2;
    display: inline-block;
  }
}

.navBar:hover {
  box-shadow: 1px 2px 5px lightgrey;
}

// TODO - Check whether this is correct
.navActive {
  color: $yellow !important;
}

.navBarList {
  margin: 0;
  list-style-type: none;
  @include xs {
    padding: 0.5em 0 0 0;
  }

  @include sm {
    padding: 0.5em 0 0 0;
  }

  @include md {
    padding: 0.5em 0 0 0;
  }

  @include lg {
    padding: $global-downwards-shift;
  }
}

.navItem {
  text-decoration: none;
  @include xs {
    display: inline-block;
  }

  @include sm {
    display: inline-block;
  }

  @include md {
    display: inline-block;
  }

  @include lg {
    display: block;
  }
}

.navItemAnchor {
  color: $black;
}

.navItem + .navItem {
  @include xs {
    margin: 0 0 0 2em; 
  }

  @include sm {
    margin: 0 0 0 2em; 
  }
  
  @include md {
    margin: 0 0 0 2em; 
  }

  @include lg {
    margin: 2em 0 0 0;
  }
}

.navItemIcon {
  color: inherit;
  text-decoration: none;
}

.navItemIcon:hover {
  color: $yellow;
  transition: 0.5s;
}

.navHomeIcon {
  border-bottom: 1px solid lightgrey;
}
