@import './color.scss';

html,
body {
  color: $black;
  margin: 0;
  background: #fafafa;
  font-weight: 400;
  font-family: 'Helvetica Neue';
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
}
