@import '../../style/variables.scss';
@import '../../style/color.scss';

.footer {
  color: $white;
  display: flex;
  justify-content: space-between;
  background: $yellow;
  grid-area: footer;
  padding: 0.5em 1em 0 1em;
}
