@import '../../../style/color.scss';

.deathSavesBlock {
  min-height: 1.5em;
  font-size: 1.2em;
  text-align: center;
}

.deathSavesSuccess {
  color: green;
}

.deathSavesFailure {
  color: #fc4f30;
}

.deathSavesFailure + .deathSavesFailure {
  margin-left: 5px;
}

.healthIcon {
  color: $red;
}

.criticalHealth {
  animation: blinker 3s infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.goldIcon {
  color: $yellow;
}

.tooltip { 
  padding: 0.5em 0.2em 0.5em 0.2em;
}
